@using WebScraper;
@using solarmhc.Web.Pages.Fronius.Components
@page "/fronius/dashboard"

<h3>Fronius Dashboard</h3>

<MudGrid>
    @* Current Power Widget *@
    <MudItem>
        <CurrentPower />
    </MudItem>
</MudGrid>
