@using WebScraper;
@using solarmhc.Models.Services;
@using solarmhc.Models;
@using solarmhc.Web.Pages.Components;
@inject LiveDataService liveDataService;
@page "/fronius/dashboard"

<style>
    @@media (min-width: 826px) {
        .screenscale {
            margin-bottom: 0px;
        }
    }

    @@media (max-width: 825px) {
        .screenscale {
            margin-bottom: 50px;
        }
    }
</style>

<MudGrid>
    <!-- Current Power Widget -->
    <MudItem xs="12" sm="6" md="6" lg="4">
        <MudPaper Class="h-100">
            <CurrentPower DashboardName="@DashboardName" />
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6" md="6" lg="4">
        <MudPaper Class="h-100">
            <DailyPowerIntake DashboardName="@DashboardName" Capacity="Constants.Capacities.Fronius" />
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="12" md="6" lg="4" Class="screenscale">
        <div style="display: flex; flex-direction: column; height: 100%;">
            <MudPaper Class="mb-2" Style="flex: 1;">
                <CO2Savings SavedEmissions="@liveDataService.GetSavedEmissions(DashboardName)" SavedTrees="@liveDataService.GetSavedTrees(DashboardName)" />
            </MudPaper>
            <MudPaper Style="flex: 1;">
                <Weather />
            </MudPaper>
        </div>
    </MudItem>
</MudGrid>

@code {
    public string DashboardName { get; set; } = Constants.Names.Fronius;

    protected override void OnInitialized()
    {
        liveDataService.OnChange += UpdateLiveData;
    }

    private void UpdateLiveData()
    {
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        liveDataService.OnChange -= UpdateLiveData;
    }
}