@page "/fetch-data"

<h3>Fetch Data</h3>
<button @onclick="FetchData">Fetch Data</button>

@if (!string.IsNullOrEmpty(Data))
{
    <pre>@Data</pre>
}

@code {
    private string Data;

    private async Task FetchData()
    {
        // Replace with your actual data URL
        string dataUrl = "https://www.solarweb.com/Home/GuestLogOn?pvSystemId=fadf7bd8-f901-4948-8683-a4dfd7d8b677";

        var webScraperService = new WebScraper.WebScraperService();
        Data = await webScraperService.GetCurrentPowerAsync(dataUrl);
    }
}
